In [16]:
import streamlit as st
import numpy as np
import pandas as pd
import time

In [13]:
df= pd.DataFrame(
    np.random.rand(100,2)/[50,50] + [35.69, 139.70],
    columns=['lat','lon']

)
df

          lat         lon
0   35.690342  139.701615
1   35.690985  139.707676
2   35.707355  139.715094
3   35.691324  139.717135
4   35.701495  139.703721
..        ...         ...
95  35.699860  139.715915
96  35.695832  139.711255
97  35.691239  139.717104
98  35.707789  139.713890
99  35.706671  139.713140

[100 rows x 2 columns]

df= pd.DataFrame(
    np.random.rand(20,3),
    colums=['a','b','c']
)

df

In [14]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
for i in  range(100):
    print(i)
    
    time.sleep(0.1)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99